RewriteEngine on
RewriteBase /

# Rewrites all URLS without blog in them
RewriteCond %{REQUEST_URI} !^/a/

# Rewrites all URLS [Replace "example" with the actual domain, without the TLD (.com, .net, .biz, etc)]
RewriteCond %{HTTP_HOST} econversation.github\.

# Rewrite all those to insert /folder
RewriteRule ^(.*)$ /a/$1 [L]

RewriteEngine On
RewriteRule ^econversation.github.io/a/bio/(.*) /econversation.github.io/a/bio/$1 [R=301,L]
