:root {

  --colauthor: #794F3A;
  --coltitle: #674E47;
  --colbold: #592720;
  --collink: #653529;
  --colem:  #00416A;
}


html{background-color:#f8f8f8;}
.text, p{color:#000000}
.title,.author, .date {color: var(--coltitle);}


h1 {color: #08457E;font-size: 1.5em;}
h2 {color: #1A5189;}
h3 {color: #2B5D94;}
h4 {color: #3D6AA0;}
h5,h6 {all: revert;}
h5 {color: #4E76AB;}
h6 {color: #6082B6;}


/*a {text-decoration: none;color: var(--collink);}*/

/*24 July 2022, 10:51*/

a {word-wrap: break-word;
box-decoration-break: clone;
padding: .1rem .3rem .1rem;
border-radius: .2rem;}
a:link, a:visited { text-decoration: none;
	color: gray;
	background: transparent;
/*		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
	box-shadow: #FAEBD7 1.95px 1.95px 2.6px;
}
a:hover, a:active { text-decoration: none;
		color: #653529; /*IndianRed*/
		/*background: LavenderBlush;*/
	}


b,strong {color: var(--colbold);}
em {color: var(--colem);}

u { border-radius: 5px; padding: 1px; text-decoration:none; font-size: 90%;}
/*u { color:var(--colauthor); }*/
u { color: #555555; }

/*s {text-decoration:none;border-radius: 5px; padding: 5px 5px;}*/


/*pre { text-decoration:none;
	background-color: #AEC6CF20;
	border-radius: 5px; padding: 5px 5px;}*/

/*increased border radius and padding, decreased the font-size. changed on 21 July 2022, 14:00*/
	
pre { text-decoration:none;
	background: #AEC6CF20;
	border-radius: 15px; padding: 15px 15px; font-size: 90%;
	overflow-x: auto;}
	
pre.latex, pre.markdown, pre.R, pre.python, pre.css, pre.html, pre.bash  { 
	text-decoration:none; background: #AEC6CF20; /*#D6CADD30*/ /*#F0E68C20*/}
	/*border-radius: 15px; padding: 15px 15px; font-size: 90%; (removed on 21 July 2022, 14:42)*/

code { font-family: monospace; font-size: inherit; }

p > code, li > code, dd > code, td > code {
	background: #AEC6CF20; /*#ffeff0;*/
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: .1rem .3rem .2rem;
	border-radius: .2rem;}

div.outline {
	border-radius: 10px; 
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	box-shadow: 0 0 3px #000000;
	}
	
.hide {
	border-radius: 10px; 
	padding: 1px 27px;
	margin-bottom: 2em;
	margin-bottom: 2em;
	box-shadow: 0 0 3px #000000;
	background-color:#848482;
	}
	
div.paper { 
	border-radius: 10px; 
	padding: 1px 27px;
	margin-bottom: 2em;
	margin-bottom: 2em;
	/*	box-shadow: 0 0 3px #000000;*/
	box-shadow: -3px -3px #EEDC8210, -0.1em 0 0.4em #674E4720;
	background-color: #EEDC8210;
	border: 2px solid #EEDC8210;
}


/* --- Figures --- */
/*04 January 2022, 15:40*/

.center { display: block; margin: auto; }

.figdef { display: block; margin: auto; max-width: 75%; }

.fighalf { max-width: 50%; }

/*date format*/
/*05 January 2022, 01:22*/

.dtdef {padding: 1px 0px; font-weight: normal; float:right; font-size: 70%; color: gray; border: 0.1px solid transparent; }

/*p.dtdef {display:inline-block; vertical-align:middle;}*/

/*float par - left and right*/
/*05 January 2022, 01:24*/

.lali {float: left;}
.rali {float: right;}
.lpar { width: 49%; float: left;}
.rpar { width: 49%; float: right; clear: right;}

/* figures with flow around text */
.figfloatleft {float: left; width:47%;padding-right: 3%;} /*margin-right: 2%;*/
.figfloatright {float: right; width:47%; padding-left: 3%;}  /*margin: 1%;*/
.figcenter {text-align:center;}
/*use clear clearfix after using lpar and/or rpar*/
.clearfix::after { content: ""; clear: both; display: table; } 

/* table cells vertically align to top */
/*td {vertical-align:top;}*/


/*hidden on 28 December 2021, 17:27*/
/*div.paper {
	background-color: #EEDC8210;
	border-radius: 15px;
	padding: 0px 10px;
	margin-bottom: 1em;
	margin-top: 1em;
	border: 2px solid #EEDC8210;
	box-shadow: -3px -3px #EEDC8210, -0.1em 0 0.4em #674E4720;
}*/	


div.a { background-color:#e6f0ff;
	border-radius: 5px; 
	padding: 1px 10px;} 
.box { background-color:#e6f0ff;
	border-radius: 5px 5px 5px 5px;
	padding: 0.5px 20px;}
.mm { background-color: #DDADAF20;
		border-radius: 5px 5px 5px 5px; 
		padding: 1px 20px;}
details {color: inherit; 
	background-color: none;
	border-radius: 5px 5px 5px 5px; 
	padding: 1px 10px;}
	
	


