:root {
  --colauthor: #794F3A;
  --coltitle: #674E47;
  --colbold: #592720;
  --collink: #653529;
  --colem:  #00416A;
  --linkcolor: #8B8589; /*#C4C3D0*/ /*#778899*/ /*#E3A857*/ /*#778899*/
  --linkhover: #CD5C5C;
}

body {
  background-image: url('../img/fade_blue_gota1.jpg');
}

html{background-color:#f8f8f8;}

.text, p{color:#000000}

.title,.author, .date, .subtitle {
	background: #794F3A;/*#794F3A*/ /*#674E47*/
	color: linen; /*#674E47*/
	border-radius: 10px;
	padding: 10px;
	}
	
.subtitle,.author {margin-bottom:10px;}

.card > blockquote {
  margin-top: 26px;
}



pre {padding:10px; border-radius: 10px;}

h1 {color: #08457E;}
h2 {color: #1A5189;}
h3 {color: #2B5D94;}
h4 {color: #3D6AA0;}
/*h5,h6 {all: revert;}*/
h5 {color: #4E76AB;}
h6 {color: #6082B6;}


nav#TOC {
	text-decoration: none;
	background-color:linen; 
	padding:20px;
	margin-top: 32px;
	border-radius: 10px; 
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	/*	box-shadow: 0 0 3px #000000;*/
}

/*.my-element {
    background-image: linear-gradient(linen, linen);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 center;
}*/

/*.decorative-line {
    background-image: linear-gradient(var(--line-color), var(--line-color));
    background-repeat: no-repeat;
    background-size: 100% var(--line-height);
    background-position: 0 center;
}*/

.my-element {
    background-image: linear-gradient(
        to right,
        transparent,
        linen 50%,
		linen 50%,
        transparent
    );
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: 0 center;
}




/*a {text-decoration: none;color: var(--collink);}*/

a:link, a:visited { 
	text-decoration: none;
	color: var(--linkcolor);
}
a:hover { text-decoration: none;
		color: var(--linkhover);}

b,strong {color: var(--colbold);}
em {color: var(--colem);}

.dtdef {padding: 1px 0px; font-weight: normal; float:right; font-size: 70%; color: gray; border: 0.1px solid transparent; }	




div.outline {
	border-radius: 10px; 
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	box-shadow: 0 0 3px #000000;
	}
	
div.paper { 
	border-radius: 10px; 
	padding: 1px 27px;
	margin-bottom: 2em;
	margin-bottom: 2em;
	/*	box-shadow: 0 0 3px #000000;*/
	box-shadow: -3px -3px #EEDC8210, -0.1em 0 0.4em #674E4720;
	background-color: #EEDC8210;
	border: 2px solid #EEDC8210;
}

.mm { background-color: #DDADAF20;
		border-radius: 5px 5px 5px 5px; 
		padding: 1px 20px;}

.card {border-radius: 10px;
	background:linen;
	padding: 1rem 2rem; /*13px 26px*/
	margin-top: 2rem;
	margin-bottom: 2rem;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
		
.cardsheer {border-radius: 10px;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}

.card > h1,h2,h3 {
	  margin-top: 26px;
	  margin-bottom: 13px;
	}

.card > h4,h5,h6 {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

.card > * {margin-bottom:1rem;margin-top:1rem;}
/*.card>details{margin-bottom:1rem;margin-top:1rem;}*/
/*.card>li{margin-bottom:26px;margin-top:0px;}*/
/*.card>p{margin-top:26px;}*/
	

/*.card:hover a { text-decoration: none;
		color: #CD5C5C;}
.cardsheer:hover a { text-decoration: none;
		color: #CD5C5C;}*/

/*.card:hover, .cardsheer:hover  {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	color: #36454F;
	background: #FDF0EE;
	}*/	

/*#536878;*/
/*#fff6f2;*/ /* #FFF0F5 Lavender blush*/

.cardnote {border-radius: 10px;
	background:linen;
	padding: 1px 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}

.carda {border-radius: 10px;
	background:linen;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

.cardtw {border-radius: 10px;
	background:linen;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}

.cardnote:hover, .carda:hover, .cardtw:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		  color: IndianRed;
		  background: FloralWhite;
		}

.lali {float: left;}
.rali {float: right;}
.lpar { width: 49%; float: left;}
.rpar { width: 49%; float: right; clear: right;}


/*.element {
  @include clearfix;
}*/


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*navigation 28 July 2022, 19:52*/

.topnav {
  overflow: hidden;
  background-color: linen;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
/*  box-shadow: 0 0 3px #000000;*/
}

.topnav a {
  float: left;
  color: #794F3A;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 70%;
 /*box-shadow: 0 0 3px #000000;*/
}

.topnav a:hover {
  background-color:  #794F3A50;
  color: gray;
  transition: 1.8s;
}

.topnav a.active {
  background-color:  #794F3A;
  color: linen;
}

.topnav a.copyright {
	float: center;
}

.cardnav {
	padding: 0px 10px 0px 10px;
	margin-bottom: 2.5em;
	background:linen;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;;
}



details {
	cursor: pointer;
	color: inherit; 
    background-color: none;
    border-radius: 5px 5px 5px 5px; 
    padding: 1px 10px 1px 0px ;
	}

details > summary {color: #3B444B; 
/*	border-bottom: 1px solid #3B444B20;*/
	padding-bottom: 5px;}


details[open] {
	border-radius: 10px; 
	padding: 0px 0px 5px 0px;
	margin-bottom: 2em;
	margin-right: -0.5em;
/*	border-bottom: 1px solid #DAA52020;*/
}

details[open] > summary {
	border-bottom: 1px solid #DAA52020; color:gray;}
details + details {margin-top:0.6rem;}


details summary::-webkit-details-marker {
  color: #E3A85750; /*#F0DC82;*/ 
}
  
details summary:hover {
    color:#653529;} /*#CC5500 Burnt orange*/

/*framing*/

.tack {
	color: #3B444B;
	border-color: #927c70;  /*#674E47*/  /*#3B444B*/
	background-color: #F4F4F4; 
	border-style: solid; /*ba*/
	border-width: .25rem; /*bw2*/
	border-radius: 10px; /*br3*/
   padding-left: 1em; /*ph4*/
   padding-right: 1em; /*ph4*/
	margin-top: 1em;
	box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
}


.mygrapha  {
	color: gray; 
	background-color: #F2F3F450;
	margin: 0em;
	padding: 1em 1em 0em 1em;
	border-radius: 10px;
	box-shadow: -3px -3px #EEDC8210, -0.1em 0 0.4em #674E4720;
}