:root {
  --colauthor: #794F3A;
  --coltitle: #674E47;
  --colbold: #592720;
  --collink: #653529;
  --colem:  #00416A;
}

body {
  background-image: url('../img/fade_blue_gota0.jpg');
}

html{background-color:#f8f8f8;}

.text, p{color:#000000}

.title,.author, .date, .subtitle {
	background: #794F3A;/*#794F3A*/ /*#674E47*/
	color: linen; /*#674E47*/
	padding:10px;
	border-radius: 10px; 
	}


h1 {color: #08457E;font-size: 1.5em;}
h2 {color: #1A5189;}
h3 {color: #2B5D94;}
h4 {color: #3D6AA0;}
h5,h6 {all: revert;}
h5 {color: #4E76AB;}
h6 {color: #6082B6;}


/*a {text-decoration: none;color: var(--collink);}*/

a:link, a:visited { 
	text-decoration: none;
	color: gray;
}
a:hover, a:active { text-decoration: none;
		color: #653529;}

b,strong {color: #592720;}
em {color: #00416A;}

.dtdef {padding: 1px 0px; font-weight: normal; float:right; font-size: 70%; color: gray; border: 0.1px solid transparent; }	




div.outline {
	border-radius: 10px; 
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	box-shadow: 0 0 3px #000000;
	}
	
div.paper { 
	border-radius: 10px; 
	padding: 1px 27px;
	margin-bottom: 2em;
	margin-bottom: 2em;
	/*	box-shadow: 0 0 3px #000000;*/
	box-shadow: -3px -3px #EEDC8210, -0.1em 0 0.4em #674E4720;
	background-color: #EEDC8210;
	border: 2px solid #EEDC8210;
}

.mm { background-color: #DDADAF20;
		border-radius: 5px 5px 5px 5px; 
		padding: 1px 20px;}

.card {border-radius: 10px;
/*	background-image: url("../img/fade_blue_gota.jpg");*/
	background:linen;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
	
.cardnote {border-radius: 10px;
	padding: 1px 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}

.carda {border-radius: 10px;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

.cardtw {border-radius: 10px;
	padding: 1px 27px;
	margin-top: 2em;
	margin-bottom: 2em;
	transition: 0.3s;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}

.card:hover, .cardnote:hover, .carda:hover, .cardtw:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		  color: IndianRed;
		  background: FloralWhite;
		}

.lali {float: left;}
.rali {float: right;}
.lpar { width: 49%; float: left;}
.rpar { width: 49%; float: right; clear: right;}

/*navigation 28 July 2022, 19:52*/

.topnav {
  overflow: hidden;
  background-color: linen;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
/*  box-shadow: 0 0 3px #000000;*/
}

.topnav a {
  float: left;
  color: #794F3A;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 70%;
 /*box-shadow: 0 0 3px #000000;*/
}

.topnav a:hover {
  background-color:  #794F3A50;
  color: gray;
  transition: 1.8s;
}

.topnav a.active {
  background-color:  #794F3A;
  color: linen;
}

.topnav a.copyright {
	float: center;
}

.cardnav {
	padding: 0px 10px 0px 10px;
	margin-bottom: 2.5em;
	background:linen;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;;
}

